ul{
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    font-family: arial;
    list-style: none;
    border-color: black;
    border-style: solid;
    min-width: 500px;
    max-width: 500px;
    z-index: 0;
}

#roomname{
    font-weight: normal;
}

#firebaseui-auth-container{
    z-index: 1;
}