#chatoutput{
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    font-family: arial;
    list-style: none;
    border-color: black;
    border-style: solid;
    min-width: 500px;
    max-width: 500px; 
}

#layer0{
    position: absolute;
    left: 35vw;
    top: 10vw;
    z-index: 0;
}

#roomname{
    font-weight: normal;    
}
#roomsopen:before{
    content:attr(aria-label);
    text-decoration: underline;
}

#roomsopen{
    position: absolute;
    left: 20vw;
    top: 15vw;
    z-index: 0;
    list-style: none;
}

#firebaseui-auth-container{
    z-index: 1;
}